[Trading212]
# Path to a folder with a list of CSVs or a singe CSV
InputPath=input/

[YahooFinance]
OutputPath=output/yahoo-finance.csv

[YahooFinanceTickerMap]
# Trading 212 and Yahoo Finance doesn't use the same 
# tickers. Some need a manual mapping - especially for 
# European equities. The format is
# Trading212Ticker=YahooFinanceTicker
BTCE=DE000A27Z304.SG
WDI=WDI.DE
ECAR=ECAR.L
VFEM=VFEM.L
VUSA=VUSA.L
VUSD=VUSD.L
VUAA=VUAA.L
IUHC=IUHC.L
DHER=DHER.DE
ZAL=ZAL.DE
LHA=LHA.DE
DTE=DTE.DE

[Wallmine]
OutputPath=output/wallmine.csv

[WallmineTickerMap]